.select-app{
    background-color: #edf5f7;
    width: 315px;
    height: 780px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.head-app{
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    font-size: 28px;
    background-color: #016879;
    width: 305px;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 5px;
}
.app-ul li{
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
    
    
}

.appoin-button{
    padding: 10px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.162);
    transition: all 0.3s ease;
    border-radius: 10px;
    color: #016879;
}
.appoin-button:hover {
    background-color: #016879;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(146, 146, 146, 0.5);
    color: white;
    
    
}
