/* Define general styles */

.home-nav-con {
    background-color: #edf5f7; 
    margin-bottom: 0px;/* Light gray background */
  }
  
  .nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
  }
  
  .top-nav1, .top-nav2, .top-nav3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
  }
  
  .top-nav1 img {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
  
  .div-call, .div-mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  .div-mail {
    margin-left: 20px; 
}

  
  .call, .email {
    margin-right: 5px;
  }
  
  .top-nav3 {
    gap: 10px;
  }
  
  .book-app, .main-signin, .main-signup {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.34);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: white;
    font-weight: bold;
  }
  
  .book-app {
    background-color: #336472; /* Light blue */
    
  }
  
  .main-signin {
    background-color: #016879; /* Purple */
  }
  
  .main-signup {
    background-color: #016879; /* Coral */
  }
  
  .book-app:hover, .main-signin:hover, .main-signup:hover {
    background-color: #01677979; /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift on hover */
    color: black;
  }
  
  .nav-bottom {
    padding: 10px;
    background-color: #016879;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px 5px 0px 0px;
  }
  
  .top-nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
  }
  
  .top-nav-list li {
    margin: 5px;
    font-weight: 600;
  }
  
  .top-nav-list a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: white;
    transition: all 0.3s ease;
  }
  
  .top-nav-list a:hover {
    background-color: white;
    color:#016879;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .nav-top {
      flex-direction: column;
      align-items: stretch;
    }
  
    .top-nav1, .top-nav2, .top-nav3 {
      justify-content: center;
    }
  }
  