.com5-main-con{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    
    
}
.com5-part1{
    margin-top: 35px;
    margin-bottom: 55px;
}

.com5-part2{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:20px ;
    margin-bottom: 30px;
}
.com5-part3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
.special-head{
    font-size: 20px;
    margin-bottom: 20px;

}
.special{
    font-size: 15px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.57);

}
@media only screen and (max-width: 768px) {
    .com5-part2 {
        flex-direction: column;
        align-items: center;
        margin: 20px; /* Adjust margin as needed */
    }

    .com5-part2 > * {
        margin-bottom: 20px; /* Adjust margin as needed */
    }
}