.class-wrap-heads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
.small-head{
    color: #016879;
    font-size: 25px;

}
.small-para{
    color: rgba(0, 0, 0, 0.32);
    font-weight:normal;
    font-size: 20px;
    margin-top: 10px;

}
.small-footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 8px;
}
.care-img{
    width: 26px;
    height: 26px;
}
.dev-lin{
    height: 1px;
    width: 250px;
    background:#6e538a;
    display: flex;
    flex-direction: row;
    margin-top:15px;
}


